body {
  background-color: #ebeef1;
  font-family: system-ui;
  text-align: center;
}

h1 {
  text-align: center;
}

.contendor-padre {
  display: grid;
  place-items: center;
}

.contenedor-link {
  background-color: white;
  margin: 10px;
  border-radius: 156px;
  width: 366.69px;
}

.link-quimera {
  color: back;
  text-decoration: none;
}